.home-container{
    font-family: Arial, Helvetica, sans-serif;
    background:#f4f4f4;
    min-height:100vh;
}

/* NAVBAR */

.navbar{
    background-color:#5f94a0;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
}

.logo{
    display:flex;
    align-items:center;
    gap:15px;
    color:white;
}

.diamond{
    width:25px;
    height:25px;
    background:white;
    transform:rotate(45deg);
}

.menu{
    display:flex;
    gap:30px;
}

.menu a{
    text-decoration:none;
    color:white;
    font-size:16px;
}

.actions{
    display:flex;
    align-items:center;
    gap:20px;
}

.add-btn{
    background:white;
    border:none;
    padding:8px 18px;
    border-radius:20px;
    cursor:pointer;
}

.signin{
    color:white;
    text-decoration:none;
}


/* SEARCH SECTION */

.search-section{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:120px;
}

.search-box{
    background:white;
    padding:25px 40px;
    border-radius:20px;
    width:520px;
    text-align:center;
    box-shadow:0 8px 20px rgba(0,0,0,0.1);
}

.search-title{
    color:#666;
    font-size:16px;
    margin-bottom:10px;
}

.search-input{
    width:100%;
    padding:12px;
    border-radius:10px;
    border:1px solid #ddd;
    outline:none;
    font-size:14px;
}